/*.navbar-default {
    background-color: #0099cc;
    border-color: #0099cc;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:  #0099cc;
    background-color: #0099cc;
}*/

.point-3-color {
  color: #c27dff;
}

.point-2-color {
  color: #00cdff
}

.point-1-color {
  color: #32ff98;

}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
